<div class="jumbotron mt-4">
    <h1 class="display-4">Inventariooooos en la nube</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque saepe nemo laudantium commodi quisquam consequatur? Asperiores possimus in tempore autem magnam. Quam sequi facere at ut eveniet aut maiores velit molestias esse non quo minima, sunt asperiores, tenetur quisquam praesentium laudantium, quibusdam perspiciatis consequuntur nesciunt corrupti doloremque expedita. Possimus, dolore?</p>
    <hr class="my-4">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati eos adipisci molestiae distinctio qui.</p>
    <a href="https://www.google.com.pe" class="btn btn-primary"> Registrate </a>
</div>